html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #23353e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ALINHAMENT */
.container{
    width: 100%;
    height: 100%;
}

/* BODY CALCULATOR */
    .baseCalculator{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 450px;
        padding: 1em .8em;
        border-radius: 10px;
        background: #1c3540;
    }
    .baseCalculator:after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border: 10px solid #deb887;
        border-radius: 25px;
        box-shadow: 0px 10px 0px #b79871, 0px 16px 15px rgba(0,0,0,0.45);
        z-index: -5;
    }
    .logoLeds {
        display: flex;
        align-items: center;
        width: 88%;
        height: 2em;
    }
        .logo {
            position: absolute;
            top: 10px;
            padding: 2px;
            filter: drop-shadow(1px 1px 2px #191716);
            width: 12%;
        }
        .leds{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: 20px;
        }
            .l-red{
                width: 10px;
                height: 10px;
                border: 2px solid #FF5722;
                border-radius: 50%;
            }
            .l-green{
                width: 10px;
                height: 10px;
                border: 2px solid #8BC34A;
                border-radius: 50%;
                margin-left: 10px;
            }

/* DISPLAY */
        .display-content{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 18%;
            border-radius: 10px;
            background: linear-gradient(197deg, rgba(255,255,255,.6), rgba(206, 166, 115, 0.95));
            box-shadow: 6px 6px 10px inset rgba(0,0,0,.5),
                       -6px -6px 10px inset rgba(0,0,0,.2);
            margin-bottom: 6px;
        }
            .dUp{
                display: flex;
                align-items: center;
                width: 99%;
                height: 38%;
                font-size: 1.2em;
                color: #4e494b;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border: 2px solid burlywood;
                border-bottom: transparent;
            }
                .time{ 
                    width: 50%; 
                     text-align: left;
                      padding: 5px;

                } 
                .data{ 
                    width: 50%;
                     text-align: right;
                     padding: 5px;
                    }
            .dDown{
                display: flex;
                align-items: center;
                width: 99%;
                height: 100%;
                font-size: 2em;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border: 2px solid burlywood;
                border-top: transparent;
                text-shadow: 2px 1px 2px #fff8e0;
                color: #1c3540;
            }
                .display{
                    width: 100%;
                    text-align: right;
                    padding: 5px; 
                }

/* BUTTONS */

.buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 72%;
}
    .row{
        display: flex;
        justify-content: center;
        height: 20%;
    }
        .col{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 1px solid #231a1d;
            font-size: 30px;
            margin: 2px;
            color: #231a1d;
            text-shadow: 0px 1px 2px #bfa17e;
            background: white;
            box-shadow: inset 0px -3px 0px #b79871, inset 0px -4px 16px rgba(35, 26, 29, .4), 0px 3px 5px rgb(54, 65, 70);
            cursor: pointer;
        }
        .btn-igual{
            margin-right: 2.2em;
        }
        .col:hover{
            box-shadow:0px 0px 5px rgba(0, 0, 0, .5);
        }
        .btn-ac,
        .btn-ce{
            background: #e4be8e;
        }
    .none{
        background: transparent;
        box-shadow: none;
        border: none;
    }
        .col.btn-soma{
            background: #dc9d4d;
            height: 190%;
            z-index: 1;
            border-radius: 20px;
        }

