:root {
    --primary : #4c4c4c;
    --shadow : rgb(71, 70, 70);
    --secundary :#e0e0e0;
    --tertiary : #ec9649;
}

@font-face {
    font-family: 'Digital-7';
    src: url('/outhers/digital-7.ttf');
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--secundary);
    font-family: 'Digital-7', sans-serif;
}

/* ALINHAMENT */
.container{
    width: 100%;
    height: 100%;
}

/* BODY CALCULATOR */
    .baseCalculator{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 450px;
        padding: 1em .8em;
        border-radius: 10px;
        background: var(--primary);
    }
    .baseCalculator:after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border: 10px solid var(--primary);
        border-radius: 25px;
        box-shadow: 0px 10px 0px var(--shadow), 0px 16px 15px rgba(0,0,0,0.45);
        z-index: -5;
    }
    .logoLeds {
        display: flex;
        align-items: center;
        width: 88%;
        height: 2em;
    }
        .logo {
            position: absolute;
            top: 10px;
            padding: 2px;
            filter: drop-shadow(1px 1px 2px #191716);
            width: 12%;
        }
        .leds{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: 25px;
        }
            .l-red{
                width: 10px;
                height: 10px;
                border: 2px solid #FF5722;
                border-radius: 50%;
            }
            .l-green{
                width: 10px;
                height: 10px;
                border: 2px solid transparent;
                background-color:  #8BC34A;
                border-radius: 50%;
                margin-left: 10px;
            }

/* DISPLAY */
        .display-content{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 90%;
            border-radius: 10px;
            background: linear-gradient(197deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.95));
            box-shadow: 6px 6px 10px inset rgba(0,0,0,.5),
                       -6px -6px 10px inset rgba(0,0,0,.2);
            margin-bottom: 10px;
        }
            .dUp{
                display: flex;
                align-items: center;
                width: 99%;
                height: 50px;
                font-size: 1.2em;
                color: #4e494b;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border: 2px solid burlywood;
                border-bottom: transparent;
            }
                .time{ 
                    width: 50%; 
                     text-align: left;

                } 
                .data{ 
                    width: 50%;
                     text-align: right;
                    }
            .dDown{
                display: flex;
                align-items: center;
                width: 99%;
                height: 50px;
                font-size: 1.8em;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border: 2px solid burlywood;
                border-top: transparent;
                text-shadow: 2px 1px 2px #fff8e0;
                color: #1c3540;
            }
                .display{
                    width: 100%;
                    text-align: right;
                }

                .display, .data, .time {
                    padding: 8px;
                }

/* BUTTONS */

.buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 72%;
    font-family: 'Poppins', sans-serif;
}
    .row{
        display: flex;
        justify-content: center;
        height: 20%;
    }
        .col{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            border: 1px solid #231a1d;
            font-size: 30px;
            margin: 4px;
            color: #231a1d;
            text-shadow: 0px 1px 2px rgba(71, 71, 71, 0.486);
            background: var(--secundary);
            cursor: pointer;
        }
        .btn-igual{
            margin-right: 2.2em;
        }
      
    .none{
        background: transparent;
        box-shadow: none;
        border: none;
    }
        .col.btn-soma{
            background: var(--tertiary);
            height: 190%;
            z-index: 1;
            border-radius: 20px;
        }

