@font-face {
    font-family:'Digital-7';
    src: local('/outhres/digital-7.ttf');
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #dc9d4d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ALINHAMENT */
.container{
    width: 100%;
    height: 100%;
}

/* BODY CALCULATOR */
    .baseCalculator{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 450px;
        padding: 1em .8em;
        border-radius: 10px;
        background: #35292d;
    }
    .baseCalculator:after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border: 10px solid #deb887;
        border-radius: 25px;
        box-shadow: 0px 10px 0px #b79871, 0px 16px 15px rgba(0,0,0,0.45);
        z-index: -5;
    }
        .logo{
            color: white;
            font-size: 1.2em;
            padding: 2px 5px 15px;
            text-align: center;
            font-weight: bold;
            text-shadow: 2px 4px 9px #0e0c0d, 1px 1px 2px #fb8e03;
        }
        .led-red{
            
        }
        .led-green{

        }

/* DISPLAY */
        .display-content{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 90%;
            border-radius: 10px;
            background: linear-gradient(197deg, rgba(255,255,255,.6), rgba(206, 166, 115, 0.95));
            box-shadow: 6px 6px 10px inset rgba(0,0,0,.5),
                       -6px -6px 10px inset rgba(0,0,0,.2);
            font-family: 'Digital-7';
            margin-bottom: 6px;
        }
            .dUp{
                display: flex;
                align-items: center;
                width: 99%;
                height: 40%;
                font-size: 1.2em;
                color: #4e494b;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border: 2px solid burlywood;
                border-bottom: transparent;
            }
                .time{ 
                    width: 50%; 
                     text-align: left;
                      padding: 5px;

                } 
                .data{ 
                    width: 50%;
                     text-align: right;
                     padding: 5px;
                    }
            .dDown{
                display: flex;
                align-items: center;
                width: 99%;
                height: 80px;
                font-size: 2.5em;
                color: #4e494b;
                text-shadow: 2px 1px 2px #e2bd8d;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border: 2px solid burlywood;
                border-top: transparent;
            }
                .display{
                    width: 100%;
                    text-align: right;
                    padding: 5px; 
                }

/* BUTTONS */

.buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
}
    .row{
        display: flex;
        justify-content: center;
        height: 20%;
    }
        .col{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 21%;
            margin: 2px;
            height: auto;
            font-size: 30px;
            border: 1px solid #231a1d;
            border-radius: 10px;
            color: #231a1d;
            text-shadow: 0px 1px 2px #bfa17e;
            background: white;
            box-shadow: inset 0px -3px 0px #b79871, inset 0px -4px 16px rgba(35, 26, 29, .4), 0px 3px 5px rgba(0, 0, 0, .9);
            cursor: pointer;
        }
        .col:hover{
            box-shadow:0px 0px 5px rgba(0, 0, 0, .5);
        }
        .btn-ac,
        .btn-ce{
            background: #e4be8e;
        }
    .none{
        background: transparent;
        box-shadow: none;
    }
        .col.operator.btn-somar{
            background: #dc9d4d;
            height: 190%;
            z-index: 1;
        }

